@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

*{
    font-family: 'Gamja Flower', cursive;
}

body,h1,h2 {
    margin : 0px;
    padding : 0px;
}

body{
    min-width: fit-contents;
}

h1{
    font-size: 36px;
    font-weight: bold;
    font-style: italic;
}

h2{
    font-size: 20px;
    color:#282828;
    font-weight:lighter;
    margin-bottom: 16px;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 5px;
}

.name-text{
    font-size: 16px;
    color:#7c7c7c;
    font-weight: bold;
}

.about-me-text{
    font-size:15px;
    line-height: 24px;
}

.mainbox{
    width:610px;
    padding:30px;
    margin: 30px auto;
    border: 1px solid #ebebeb;
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1); 
}

.title-box{
    text-align: right;
}

section{
    margin-bottom:24px;
}

.float-wrap{
    overflow: hidden;
}

.title-text{
    font-size:15px;
    font-weight: bold;
    color: #282828;
    float: left;
}

.year-text{
    font-size: 15px;
    font-weight: bold;
    color:#282828;
    float: right;
}

.desc-text{
    font-size: 11px;
}

.desc-subtext{
    font-size: 11px;
    color: #282828;
    padding-left: 16px;
}

.sns-img{
    width: 20px;
    height: 20px;
}

.sns-wrap{
    text-align: right;
}

footer{
    text-align: center;
    background-color: #1e1e1e;
    padding: 20px;
    font-size: 12px;
    color:#919191;
}